aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
aiosqlite==0.17.0
annotated-types==0.7.0
asyncpg==0.29.0
attrs==24.2.0
cfgv==3.4.0
distlib==0.3.8
filelock==3.16.0
flake8==7.1.1
frozenlist==1.4.1
identify==2.6.1
idna==3.10
iso8601==1.1.0
mccabe==0.7.0
multidict==6.1.0
nodeenv==1.9.1
platformdirs==4.3.3
pre-commit==3.8.0
pycodestyle==2.12.1
pydantic==2.9.1
pydantic_core==2.23.3
pyflakes==3.2.0
pypika-tortoise==0.1.6
pytz==2024.2
PyYAML==6.0.2
ruff==0.6.5
schedule==1.2.2
tortoise-orm==0.21.6
typing_extensions==4.12.2
virtualenv==20.26.4
yarl==1.11.1
